h1 {color:rgb(133, 5, 5)
}
h1 {font-size: 350%;
}
#ima1 {margin-block-end: 20%;}
#ima2 {margin-block-end:  20%;}
#ima3 {margin-block-end: 15%;}
h2 {color:rgb(49, 43, 43)
}
h2 {font-size: 180%%;}
#ima2 {margin-left: 15%;}
#ima3 {margin-left: 15%;}